<div id="addMemberModal" class="reveal foundation-plugin" data-reveal>
	<div class="row">
		<div class="large-12 columns">
			<label>Search by name:
				<input id="addMemberModalInput" type="text" placeholder="Name" maxlength="50">
			</label>
		</div>
	</div>
	<div class="column row">
			<ul>
				{{#userSearchResults}}
					<li><a on-click="addMemberToCurrentGroup">{{name}} ({{email}})</a></li>
				{{/}}
			</ul>
	</div>

	<button class="close-button" data-close aria-label="Close modal" type="button">
  		<span aria-hidden="true">&times;</span>
	</button>
</div>
