{{>topBar}}

<div style="margin-bottom:20px"></div>

<div class="row expanded">
	<div class="large-offset-2 large-8 columns">
		{{#if !currentUser}}

			{{#if appState == 'register'}}

				{{>register}}

			{{else}}

				{{>login}}

			{{/if}}

		{{else}}

			{{#if appState == 'groups'}}

				{{#if !currentGroup}}

					{{>groups}}

				{{else}}

					{{>bills}}

				{{/if}}

			{{/if}}

			{{#if appState == 'userPage'}}

				{{>userEdit}}

			{{/if}}

		{{/if}}
	</div>
	<div class="large-2 columns">
		{{#if appState == 'groups' && currentGroup}}
			{{>billsSidebar}}
		{{/if}}
	</div>
</div>
