<div class="column row">
	<form id="newBillForm">
		<div class="row">
			<div class="large-4 columns">
				<input type="text" name="name" placeholder="Name">
			</div>
			<div class="large-4 columns">
				<input type="text" name="amount" placeholder="Amount">
			</div>
			<div class="large-4 columns">
				<input type="submit" class="button expanded" value="New Bill">
			</div>
		</div>
	</form>
</div>

{{#if loadingBills}}
	<div class="row">
		<div class="large-12 columns">
			<img class="ajax-loader" src="/images/ajax-loader.gif">
		</div>
	</div>
{{/if}}

{{#if !loadingBills && currentBills.length == 0}}
	<div class="row panel faint">
		<div class="large-12 columns">
			<h4>No Bills</h4>
		</div>
	</div>
{{/if}}

{{#currentBills:i}}

<div class="row column">
	<div class="callout {{#if billFullyPaid(.)}} alert {{else}} primary {{/if}}">
		<div class="row">
			<div class="large-11 columns">
				<h4>{{name}} ({{formatMoney(amount)}}) <span class="gray-text">&mdash; {{moment(parseInt(date)).format('MMMM Do')}}</span></h4>
			</div>
			<div class="large-1 columns">
				<a class="button small expanded alert" on-click="deleteBill">Delete</a>
			</div>
		</div>

		<div class="row">

			<div class="large-11 columns">
				{{#if payers.length < 2}}
					{{#payers}}
						<a class="button expanded{{#if paid == 'true' || paid == 'owner'}} success{{/if}}" on-click="togglePaid">
							<span class="fill-to-ellipsis"><strong>{{memberNameById(userId)}}</strong>
								{{#if paid == 'true'}}
									paid {{formatMoney(amount)}}
								{{/if}}
								{{#if paid == 'false'}}
									owes {{formatMoney(amount)}}
								{{/if}}
								{{#if paid == 'owner'}}
									<em>(paid bill)</em>
								{{/if}}
							</span>
						</a>
					{{/}}
				{{else}}
					<div id="bill{{i}}-button-group" class="button-group expanded">
						{{#payers}}
							<a class="button{{#if paid == 'true' || paid == 'owner'}} success{{/if}}" on-click="togglePaid">
								<span class="fill-to-ellipsis">
									<strong>{{memberNameById(userId)}}</strong>
									{{#if paid == 'true'}}
										paid {{formatMoney(amount/(payers.length))}}
									{{/if}}
									{{#if paid == 'false'}}
										owes {{formatMoney(amount/(payers.length))}}
									{{/if}}
									{{#if paid == 'owner'}}
										<em>(paid bill)</em>
									{{/if}}
								</span>
							</a>
						{{/}}
					</div>
				{{/if}}
			</div>

			<div class="large-1 columns">

				<ul id="memberDropdown{{i}}" class="dropdown menu" data-dropdown-menu>
					<li>
						<a class="button expanded hollow secondary">Add</a>
						<ul class="menu">
							<li><a on-click="addAllMembersToBill"><strong>All</strong></a></li>

							<!-- Here, I would like to iterate through currentGroupMembers, in order to populate them in this dropdown, with {{#currentGroupMembers}},
							but then, addGroupMemberToBill would need access to the current bill. It cannot get it in the event context, because the event context will
							be currentGroupMembers.N; it cannot be passed as an argument either, because ractive does not allow a construct like {{../_id}} to access
							the parent scope explicitly. So we resort to this ugly hack that takes the id of the current bill and returns a structure to iterate over
							that 'saves' that bill id -->
							{{#dropdownDataForBill(_id)}}
								<li><a on-click="addGroupMemberToBill">{{name}}</a></li>
							{{/}}
							<li><a data-open="addMemberModal">More ...</a></li>
						</ul>
					</li>
				</ul>

			</div>

		</div>
	</div>
</div>

{{/}}
