{{#if loadingGroups}}
	<div class="column row">
		<img class="ajax-loader" src="/images/ajax-loader.gif">
	</div>
{{/if}}

{{#if !loadingGroups && groups.length == 0}}
	<div class="column row">
		<h4>No Groups</h4>
	</div>
{{/if}}

{{#groups}}

<div class="column row">
	<div class="callout primary">
		<div class="row">
			<div class="large-11 columns">
				<h4 style="margin-bottom:0px"><a href="#/groups/{{_id}}">{{name}}</a></h4>
			</div>
			<div class="large-1 columns">
				<a style="margin-bottom:0px" class="button small hollow alert float-right" on-click="deleteBill">&times;</a>
			</div>
		</div>
	</div>
</div>

{{/}}

<div class="column row">
	<form id="newGroupForm">
		<div class="row">
			<div class="large-9 columns">
				<input type="text" name="name" placeholder="Name" maxlength="30">
			</div>
			<div class="large-3 columns">
				<input type="submit" class="button expanded" value="New Group">
			</div>
		</div>
	</form>
</div>
