<div class="column row">
	<form id="loginForm">
		<div class="row">
			<div class="large-4 large-centered small-12 columns">
				<input type="email" name="email" placeholder="Email" maxlength="50">
			</div>
		</div>
		<div class="row">
			<div class="large-4 large-centered small-12 columns">
				<input type="password" name="password" placeholder="Password" maxlength="50">
			</div>
		</div>
		<div class="row">
			<div class="large-4 large-centered small-12 columns">
				<input type="submit" class="button expanded" value="Login">
			</div>
		</div>
	</form>
</div>

<div class="row">
	<div class="large-4 large-centered small-12 columns">
		Or, <a href="#/register">create a new account</a>
	</div>
</div>
