<div class="column row">
	<form id="loginForm">
		<div class="row">
			<div class="small-4 small-centered columns">
				<input class="taller" type="email" name="email" placeholder="Email" required maxlength="50">
			</div>
		</div>
		<div class="row">
			<div class="small-4 small-centered columns">
				<input class="taller" type="password" name="password" placeholder="Password" required maxlength="50">
			</div>
		</div>
		<div class="row">
			<div class="small-4 small-centered columns">
				<input type="submit" class="button expanded" value="Login">
			</div>
		</div>
	</form>
</div>

<div class="row">
	<div class="small-4 small-centered columns">
		Or, <a href="#/register">create a new account</a>
	</div>
</div>
