<div id="reconcileModal" class="reveal foundation-plugin" data-reveal>
	<div class="row">
		<div class="large-12 columns">
			<p>Choose user to reconcile with:</p>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<ul>
				{{#currentGroupMembers}}
					{{#if currentUser._id != _id}} <li><a on-click="reconcileWith">{{name}}</a></li> {{/if}}
				{{/}}
			</ul>
		</div>
	</div>
	{{#if reconcileData}}
		<div class="row">
			<div class="large-12 columns">
				{{#if reconcileData.owesOther >= 0}}
					<p>You owe {{reconcileData.otherUser.name}}</p>
				{{else}}
					<p>{{reconcileData.otherUser.name}} owes you</p>
				{{/if}}
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns panel">
				<h4><strong>{{formatMoney(Math.abs(reconcileData.owesOther))}}</strong></h4>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<a on-click="reconcileWith:1" class="button small expand">Confirm and mark related instances as paid</a>
			</div>
		</div>
	{{/if}}
	<button class="close-button" data-close aria-label="Close modal" type="button">
  		<span aria-hidden="true">&times;</span>
	</button>
</div>
