<div class="column row">
	<form id="registerForm">
		<div class="row">
			<div class="large-6 large-centered small-12 columns">
				<input type="email" name="email" placeholder="Email" maxlength="50">
			</div>
		</div>
		<div class="row">
			<div class="large-6 large-centered small-12 columns">
				<input type="password" name="password" placeholder="Password" maxlength="50">
			</div>
		</div>
		<div class="row">
			<div class="large-6 large-centered small-12 columns">
				<input type="text" name="name" placeholder="Name" maxlength="50">
			</div>
		</div>
		<div class="row">
			<div class="large-6 large-centered small-12 columns">
				<input type="password" name="passwordConfirm" placeholder="Password (again)" maxlength="50">
			</div>
		</div>
		<div class="row">
			<div class="large-6 large-centered small-12 columns">
				<input type="submit" {{#if registeredSuccessfully}} disabled {{/if}}
				class="button expanded {{#if registeredSuccessfully}} success {{/if}}" value="{{registeredSuccessfully ? 'Registered Successfully' : 'Register'}}">
			</div>
		</div>
	</form>
</div>
