<div class="top-bar">
	<div class="top-bar-left">
		<ul class="dropdown menu" data-dropdown-menu>
			<li class="menu-text">Name</li>
		</ul>
	</div>
	<div class="top-bar-right">
		<ul class="menu">
			<li><a href="https://github.com/name/repo">View on Github</a></li>
			{{#if currentUser}}

			{{#if currentGroup}} <li><a on-click="clearReconcileData" data-open="reconcileModal"><strong>Reconcile ...</strong></a></li> {{/if}}
			<li><a href="#/userPage">Logged in as {{currentUser.name}}</a></li>
			<li><a href="/logout">Log out</a></li>

			{{/if}}
		</ul>
	</div>
</div>
