body {
	font-family: "Open Sans", sans-serif;
}

div.vspace {
	height: 10px;
}

.row.full-width {
	width: 100%;
	max-width: 100%;
}

.row.wider {
	width: 1280px;
}

form.form-elements-no-bottom input {
	margin-bottom: 0px;
}

.gray-text {
	color: gray;
}

input.taller {
	height: 45px;
}

span.fill-to-ellipsis {
	display: inline-block;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: top;		
}

img.ajax-loader {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.faint {
	opacity: 0.6;
}