{{#if loadingBills}}
	<div class="row">
		<div class="large-12 columns">
			<img class="ajax-loader" src="/images/ajax-loader.gif">
		</div>
	</div>
{{/if}}

{{#if !loadingBills && currentBills.length == 0}}
	<div class="row panel faint">
		<div class="large-12 columns">
			<h4>No Bills</h4>
		</div>
	</div>
{{/if}}

{{#currentBills:i}}

<div class="row">
	<div class="large-12 columns panel">
		<div class="row">
			<div class="large-8 columns">
				<h4>{{name}} ({{formatMoney(amount)}}) <span class="gray-text">&mdash; {{moment(parseInt(date)).format('MMMM Do')}}</span></h4>
			</div>
			<div class="large-4 columns">
				<a class="right" on-click="deleteBill">Delete</a>
			</div>
		</div>
		
		<div class="vspace"></div>
		
		<div class="row">
			
			<div class="large-11 columns">
				{{#if payers.length < 2}} 
					{{#payers}}
						<a class="button expand{{#if paid == 'true' || paid == 'owner'}} success{{/if}}" on-click="togglePaid">
							<span class="fill-to-ellipsis"><strong>{{memberNameById(userId)}}</strong>
								{{#if paid == 'true'}}
									paid {{formatMoney(amount)}}
								{{/if}}
								{{#if paid == 'false'}}
									owes {{formatMoney(amount)}}
								{{/if}}
								{{#if paid == 'owner'}}
									<em>(paid bill)</em>
								{{/if}}
							</span>
						</a>
					{{/}}
				{{else}}
					<ul id="bill{{i}}-button-group" class="button-group even-{{payers.length}}">
						{{#payers}}
							<li><a class="button{{#if paid == 'true' || paid == 'owner'}} success{{/if}}" on-click="togglePaid">
								<span class="fill-to-ellipsis">
									<strong>{{memberNameById(userId)}}</strong>
									{{#if paid == 'true'}}
										paid {{formatMoney(amount/(payers.length))}}
									{{/if}}
									{{#if paid == 'false'}}
										owes {{formatMoney(amount/(payers.length))}}
									{{/if}}
									{{#if paid == 'owner'}}
										<em>(paid bill)</em>
									{{/if}}
								</span>
							</a></li>
						{{/}}
					</ul>
				{{/if}}	
			</div>
			
			<div class="large-1 columns">

				<a class="button secondary expand" data-dropdown="memberDropdown{{i}}" aria-controls="memberDropdown{{i}}" aria-expanded="false"><strong>+</strong></a>

				<!-- Foundation needs unique id's in order to setup the JS dropdowns, so append index in order to make these elements unique per-bill -->
				<ul id="memberDropdown{{i}}" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
					
					<li><a on-click="addAllMembersToBill"><strong>All</strong></a></li>
					
					<!-- Here, I would like to iterate through currentGroupMembers, in order to populate them in this dropdown, with {{#currentGroupMembers}},
					but then, addGroupMemberToBill would need access to the current bill. It cannot get it in the event context, because the event context will
					be currentGroupMembers.N -- it cannot be passed as an argument either, because ractive does not allow a construct like {{../_id}} to access
					the parent scope explicitly. So we resort to this ugly hack that takes the id of the current bill and returns a structure to iterate over 
					that 'saves' that bill id -->
					{{#dropdownDataForBill(_id)}}
						<li><a on-click="addGroupMemberToBill">{{name}}</a></li>
					{{/}}
					
					<li><a data-reveal-id="addMemberModal">More ...</a></li>
				</ul>
			</div>

		</div>
	</div>
</div>

{{/}}

<div class="row">
	<div class="large-12 columns panel">
		<form id="newBillForm" class="form-elements-no-bottom" data-abide>
			<div class="row">

				<div class="large-4 columns">
					<div class="name-field">
						<input class="taller" type="text" name="name" placeholder="Name" required maxlength="30">
						<small class="error">Name is required</small>
					</div>
				</div>

				<div class="large-4 columns">
					<div class="number-field">
						<input class="taller" type="text" name="amount" placeholder="Amount" pattern="number" required maxlength="10">
						<small class="error">Enter a valid number</small>
					</div>
				</div>

				<div class="large-4 columns">
					<input type="submit" class="button small expand" value="New Bill">
				</div>
			
			</div>
		</form>	
	</div>
</div>