<div class="row">
	<div class="large-12 columns panel">
		<form id="registerForm" data-abide>
			<div class="row">

				<div class="large-6 columns">
					<div class="email-field">
						<input class="taller" type="email" name="email" placeholder="Email" required maxlength="50">
						<small class="error">Enter a valid email</small>
					</div>
				</div>

				<div class="large-6 columns">
					<div class="password-field">
						<input id="password" class="taller" type="password" name="password" placeholder="Password" required maxlength="50">
					</div>
				</div>
			
			</div>
			<div class="row">

				<div class="large-6 columns">
					<div class="name-field">
						<input class="taller" type="text" name="name" placeholder="Name" required maxlength="50">
						<small class="error">Name is required</small>
					</div>
				</div>

				<div class="large-6 columns">
					<div class="password-confirmation-field">
						<input class="taller" type="password" name="passwordConfirm" placeholder="Password (again)" required data-equalto="password" maxlength="50">
						<small class="error">Passwords don't match</small>
					</div>
				</div>
			
			</div>
			<div class="row">
				<div class="large-12 columns">
					<input type="submit" {{#if registeredSuccessfully}} disabled {{/if}}
					class="button small expand{{#if registeredSuccessfully}} success {{/if}}" value="{{registeredSuccessfully ? 'Registered Successfully' : 'Register'}}">
				</div>
			</div>
		</form>	
	</div>
</div>